<h1>Editing Person</h1>

<%= render 'form' %>
<p></p>
<%= link_to person_path(@person), :class => 'btn btn-success' do %>
  <i class="glyphicon glyphicon-education"></i> Profile
<% end %>
&nbsp;
<%= link_to people_path, :class => 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-user"></i> List
<% end %>
