<h1>New Person</h1>

<%= render partial: 'form', locals: {add_initial_rank: true} %>
<p></p>
<%= link_to people_path, :class => 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-user"></i> List
<% end %>
