/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

canvas {
  width: 100%;
  height: auto;
}

@media print {
  // hide form and navigation elements for print
  .navigation, .nav, .no_print {
    display: none;
  }
  
  .page_break {
    page-break-after: always
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  
  td {
    page-break-inside: avoid;
    page-break-after: auto
  }
  
  // repeat table header on every printed page
  thead {
    display: table-header-group;
  }
  
  input {
    -moz-appearance: none;
    outline: 1px solid #000000;
    width: 10px;
    height: 10px;
  }

  // add table borders for print version
  table {
    page-break-after: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  table, td, th {
    padding: 1px;
    padding-top: 3px;
    padding-bottom: 3px
  }
  
  tr:nth-child(even) {background: #DDD !important}
  tr:nth-child(odd) {background: #FFF !important}

  tr.warning > td {
   background: yellow !important;
  }

  a[href]:after {
    content: "" !important;
  }
}

@media screen {
  .print_only {
    display: none;
  }
}