// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}

@media print {
  // hide form and navigation elements for print
  .navbar, .no_print {
    display: none;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto
  }
  
  td {
    page-break-inside: avoid;
    page-break-after: auto
  }
  
  // repeat table header on every printed page
  thead {
    display: table-header-group;
  }

  // add table borders for print version
  table {
      page-break-after: auto;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
  }
  table, td, th {
      padding: 1px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
}

@media screen {
  .print_only {
    display: none;
  }
  
  a {
    color: #000;
    &:visited {
      color: #666;
    }
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

}
