// Place all the styles related to the Awards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style_prefix {
  display: inline-block;
  width: 80px;
}

.rank_same_width {
  width: 120px;
}
