<h1>Dues</h1>

<div class="row">
  <div class="col-sm-3">
    <%= form_tag("/reports/dues_by_date", :method => :get, :role => 'form') do %>
      <div class="form-group">
        <label for="month">Select month</label>
        <input id="month" name="month" type='text' class='form-control datepicker' value='<%= Date.today.strftime("%m/%Y") %>'/>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          $('#month').datepicker({
            autoclose: true,
            todayHighlight: true,
            minViewMode: 1,
            format: "mm/yyyy"
          });
        });
      </script>
      <%= submit_tag "Submit", :class => "btn btn-success" %>
    <% end %>
  </div>
</div>

