<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<ul>
<li><a href="reports/promotions_due">Promotion Eligibility</a>: Students eligible for promotion based on class attendance</li>
<li><a href="reports/recent_promotions">Recent promotions</a>: Students recently promoted</li>
<li><a href="reports/attendance">Attendance</a>: Student class attendance over time</li>
</ul>