<h1>Eligible for Promotion as of <%= @date %></h1>

<% @promotable_without_test_by_style.each do |style_and_promotable|%>
  <% style, promotable = style_and_promotable %>
  <% if promotable and promotable.length>0 %>
    <h2><%= style.description %></h2>
    <%= render partial: "students", locals: {promotable: promotable, style: style} %>
  <% end %>
<% end %>

<p><b>*</b> needs informal assessment before promotion.</p>