<h2>Eligible for Promotion as of <%= @date.to_formatted_s(:us) %></h2>

<% @promotable_without_test_by_style.each do |style_and_promotable|%>
  <% style, promotable = style_and_promotable %>
  <% if promotable and promotable.length>0 %>
    <h3><%= style.description %></h3>
    <%= render partial: "students", locals: {promotable: promotable, style: style} %>
  <% end %>
<% end %>

<p><b>*</b> needs informal assessment before promotion.</p>