<!DOCTYPE html>
<html>
<head>
  <title>Souhegan Valley Karate Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar"><a href="/attendances">Attendance</a> | <a href="/people">Students</a> | <a href="/awards">Promotions</a> | <a href="/ranks">Ranks</a> | <a href="/reports">Reports</a> | <a href="/classes">Classes</a></div>

<hr/>

<%= yield %>

</body>
</html>
